{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="card mb-2 login-form-container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            
            <form method="post" class="text-white">
                {% csrf_token %}
                <fieldset class="rounded-10 border text-white">
                    <legend class="fieldset-label small text-black w-auto">Login</legend>

                    <div class="form-group">
                        <label for="id_username" class="form-label">Username:</label>
                        <input type="text" name="username" id="id_username" class="form-control" placeholder="Username">
                    </div>

                    <div class="form-group">
                        <label for="id_password" class="form-label">Password:</label>
                        <input type="password" name="password" id="id_password" class="form-control"
                            placeholder="Password">
                    </div>

                </fieldset>
                <div class="row mt-2 mb-3">
                    <div class="col d-flex justify-content-center">
                        <button type="submit" class="btn my-2">Login</button>
                        <a href="{% url 'register' %}" class="btn my-2 ml-2">Register Here</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}