{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="card mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font text-center mb-2">Login</h2>
            <hr>
        </div>
    </div>

    <div class="row justify-content-center text-center rounded">
        <div class="col-8 rounded mx-auto">
            {% if form.errors %}
                <div class="alert alert-danger">Your username and password didn't match. Please try again.</div>
            {% endif %}
            <form method="post" class="text-white">
                {% csrf_token %}
                <fieldset class="rounded-10 border text-white">
                    <legend class="fieldset-label small text-black px-2 w-auto">Login</legend>

                    <div class="form-group">
                        <label for="id_username" class="form-label">Username:</label>
                        <input type="text" name="username" id="id_username" class="form-control" placeholder="Username">
                    </div>

                    <div class="form-group">
                        <label for="id_password" class="form-label">Password:</label>
                        <input type="password" name="password" id="id_password" class="form-control" placeholder="Password">
                    </div>

                </fieldset>

                <div class="submit-button text-right mt-2 mb-3">
                    <!-- Login Button -->
                    <button type="submit" class="btn mt-5 rounded-10 float-right">
                        <a href="{% url 'login' %}" class="btn rounded-10 text-center"></a>
                        <span class="text-uppercase">Login</span>
                    </button>
                
                    <!-- Registration Section -->
                    <div class="float-left">
                        <!-- Small paragraph for registration prompt -->
                        <p class="mb-2 p-1">
                            <small>NOT REGISTERED ? <i class="fas fa-arrow-down"></i>
                            </small>
                        </p>
                        
                        <!-- Registration Button -->
                        <a href="{% url 'register' %}" class="btn mt-2 rounded-10">
                            
                            <span class="text-uppercase">Register Here</span>
                        </a>
                    </div>
                </div>
                
                
            </form>
        </div>
    </div>
</div>
{% endblock %}
