{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="card mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font text-center mb-2">Login</h2>
            <hr>
        </div>
    </div>

    <div class="row justify-content-center text-center rounded">
        <div class="col-8 rounded mx-auto">
            {% if form.errors %}
                <div class="alert alert-danger">Your username and password didn't match. Please try again.</div>
            {% endif %}
            <form method="post" class="text-white">
                {% csrf_token %}
                <fieldset class="rounded-10 border text-white">
                    <legend class="fieldset-label small text-black px-2 w-auto">Login</legend>

                    <div class="form-group">
                        <label for="id_username" class="form-label">Username:</label>
                        <input type="text" name="username" id="id_username" class="form-control" placeholder="Username">
                    </div>

                    <div class="form-group">
                        <label for="id_password" class="form-label">Password:</label>
                        <input type="password" name="password" id="id_password" class="form-control" placeholder="Password">
                    </div>

                </fieldset>

                <div class="submit-button text-right mt-5 mb-2">
                    <button type="submit" class="btn float-right p-1">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
