<div>
    <ul>
        <!-- All Synths -->
        <li>
            <a href="#" id="all-synths-link">
                All Synths
            </a>
            <div>
                <a href="#">By Price</a>
                <a href="#">By Category</a>
                <a href="#">All Synths</a>
            </div>
        </li>

        <!-- Eurorack Modules -->
        <li>
            <a href="#" id="eurorack-link">
                Eurorack Modules
            </a>
            <div>
                <a href="#">VCOs</a>
                <a href="#">Effects</a>
                <a href="#">Sequencers</a>
                <a href="#">Drums</a>
                <a href="#">Filters</a>
                <a href="#">Modulators</a>
                <a href="#">Mixers</a>
                <a href="#">All Modules</a>
            </div>
        </li>

        <!-- Semi-Modular Synths -->
        <li>
            <a href="#" id="semi-link">
                Semi-Modular Synths
            </a>
            <div>
                <a href="#">Behringer</a>
                <a href="#">Korg</a>
                <a href="#">Moog</a>
                <a href="#">All Makes</a>
            </div>
        </li>

    </ul>
</div>
