<div>
    <ul>
        <!-- All Synths -->
        <li>
            <a href="#" id="all-synths-link">
                All Synths
            </a>
            <div>
                <a href="{% url 'all_synths' %}?sort=price&direction=asc">By Price</a>
                <a href="{% url 'all_synths' %}?sort=category&direction=asc">By Category</a>
                <a href="{% url 'all_synths' %}">All Synths</a>
            </div>
        </li>

        <!-- Eurorack Modules -->
        <li>
            <a href="#" id="eurorack-link">
                Eurorack Modules
            </a>
            <div>
                <a href="{% url 'all_synths' %}?category=vcos">VCOs</a>
                <a href="{% url 'all_synths' %}?category=effects">Effects</a>
                <a href="{% url 'all_synths' %}?category=sequencers">Sequencers</a>
                <a href="{% url 'all_synths' %}?category=drums">Drums</a>
                <a href="{% url 'all_synths' %}?category=filters">Filters</a>
                <a href="{% url 'all_synths' %}?category=modulators">Modulators</a>
                <a href="{% url 'all_synths' %}?category=mixers">Mixers</a>
                <a href="{% url 'all_synths' %}?category=vcos,effects,sequencers,drums,filters,modulators,mixers">All Modules</a>
            </div>
        </li>

        <!-- Semi-Modular Synths -->
        <li>
            <a href="#" id="semi-link">
                Semi-Modular Synths
            </a>
            <div>
                <a href="{% url 'all_synths' %}?category=behringer">Behringer</a>
                <a href="{% url 'all_synths' %}?category=korg">Korg</a>
                <a href="{% url 'all_synths' %}?category=moog">Moog</a>
                <a href="{% url 'all_synths' %}?category=behringer,korg,moog">All Makes</a>
            </div>
        </li>

    </ul>
</div>
