{% load static %}

<!doctype html>
<html lang="en">
<head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>
        FreqNest
        {% block extra_title %}
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <div>
            <div>
                <a href="#">
                    <h2>FreqNest</h2>
                </a>
            </div>
            <div>
                <form method="GET" action="#">
                    <div>
                        <input type="text" name="q" placeholder="Search content">
                        <div>
                            <button type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            
            <div>
                <ul>
                    <!-- User dropdown -->
                    <li>
                        <a href="#" id="user-options">
                            <div>
                                <i class="fas fa-user fa-lg"></i>
                                <p>My Account</p>
                            </div>
                        </a>
                        <div>
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="#">My Synths</a> 
                                {% endif %}
                                <a href="#">My Profile</a> 
                                <a href="#">Logout</a>
                            {% else %}
                                <a href="#">Register</a>
                                <a href="#">Login</a>
                            {% endif %}
                        </div>
                    </li>
            
                    <!-- Shopping bag indicator -->
                    <li>
                        <a href="#">
                            <div>
                                <i class="fas fa-shopping-bag fa-lg"></i>
                                <p>
                                    {% if grand_total %}
                                        £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--NAV-->
        <div>
            <nav>
                <button type="button">
                    <span></span>
                </button>
                
            </nav>
        </div>
    </header>

    {% if messages %}
        <div></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
</body>
</html>
