{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <h1>Contact Us</h1>
            <p class="mt-4">If you have any questions or need assistance, you can start a chat with one of our operators on WhatsApp.
            </p>
            <a href="https://wa.me/+447563713196" class="btn btn-success">Chat with us on WhatsApp</a>
        </div>
    </div>
</div>
{% endblock %}