{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div>
        <div>
            <div></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div>
        <div>
            <div>
                <h1>
                    New Machine arrived
                </h1>
                <div>
                    <h4>
                        <a href="#">Buy Now</a>
                    </h4>
                </div>
            </div>    
        </div>
    </div>
{% endblock %}
